.PickerSquare {
  position: absolute;
  z-index: 1;
  border: 2px solid magenta;

  $zoomedPixelSize: 6px;

  .row {
    width: 100%;
    height: $zoomedPixelSize;

    .px {
      display: inline-block;
      width: $zoomedPixelSize;
      height: $zoomedPixelSize;
    }
  }
}
