.PickerSquare {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  clip-path: circle(50% at 50%);

  .zoom {
    position: relative;

    i.circle {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      &.img {
        background-image: url("ZoomCircle.svg");
        background-size: 100%;
      }

      &.colored {
        border: 4px solid;
        border-radius: 50%;
      }
    }

    i.hint {
      position: absolute;
      z-index: 1;
      top: 75%;
      left: 0;
      right: 0;
      width: 70px;
      background-color: white;
      margin: 0 auto;
      text-align: center;
      border-radius: 10px;

      span {
        text-transform: uppercase;
        font-style: normal;
        font-size: .8em;
      }
    }

    .row {
      width: 100%;

      .px {
        display: inline-block;
        height: 100%;
        position: relative;

        &.target:before {
          content: "";
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          border: 1px solid lightgray;
        }
      }
    }
  }
}
