.PickerSquare {
  position: absolute;
  z-index: 1;
  pointer-events: none;

  $zoomedPixelSize: 6px;

  .row {
    width: 100%;
    height: $zoomedPixelSize;
    line-height: $zoomedPixelSize;

    .px {
      display: inline-block;
      width: $zoomedPixelSize;
      height: $zoomedPixelSize;
    }
  }
}
